# --- AI Video Generation Client ---
gradio_client==2.4.1

# --- Optional Utilities ---
python-dotenv==1.0.1

google-generativeai
google-genai
colorama
tiktoken
git+https://github.com/openai/swarm.git#egg=swarm
